body{    
    background-size: 100% 100%;    
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
}

/*Cards*/
.cardWeather{       
    background-color:rgba(255, 255, 255, 0.5);
    width:250px;
    margin: 15px;
    padding:20px;
    border-radius:25%;   
}
.card{
    background-color:rgba(255, 255, 255, 0.5);    
    margin: 15px;
    padding:20px;
    border-radius:5%;
}
.cardClock{
    display:flex;
    flex-direction:column;
    justify-content:center;   
}

/*Flex styles*/
.flex{
    display:flex;
    justify-content:space-around;
}

/*Fonts
font-family: 'Indie Flower', cursive;
font-family: 'Amita', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Architects Daughter', cursive;*/
.clock{
    font-size: 100px;
    font-family: 'Amita', cursive;    
    color: white;
    text-shadow: 1px 1px 2px #622569, 0 0 25px #b8a9c9, 0 0 5px  #5b9aa0;
}
.indie{
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-shadow: 1px 1px 2px #622569, 0 0 25px #b8a9c9, 0 0 5px  #5b9aa0;
    margin-top:175px;
    margin-right: 50px;
    margin-left: 50px;
}
.arch{
    font-family: 'Architects Daughter', cursive;
}

/*To do list items*/
.check{
    background-color: transparent;
    border-color:transparent;
}
.glyphicon-ok{
    color:limegreen;
}
.glyphicon-remove{
    color:darkred;
}